#feedback { 
    font-size: 1.4em; 
}
#selectable .ui-selecting { 
    color: purple;
}
#selectable .ui-selected { 
    color: green; 
}
#selectable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}